body{
    background-color: #34495e;
}
.est-aviso{ /* */
    font-size: 30px;
    color: red;
    margin: auto;
}
.est-resultado{
    font-size: 25px;
    color: rgb(11, 221, 11);
    margin: auto;
}
h1{
    text-align: center;
    color: #ffffff;
    margin: auto;
}
.img-velha.mostra{
    display: block;
}
.img-velha{
    position: absolute;
    top: 175px;
    left: 485px;
    z-index: 1;
    display: none;
}
.principal-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.principal-div{
    position: relative;
}

.botao-div{
    text-align: center;
    color: #ffffff;
}

table{
    margin: auto;
    border-collapse: collapse;
    position: relative;
    width: 550px;
    height: 614px;
}
table.velha-table th { /* para todos os elementos da table */
    text-align: center;
    font-size: 70px;
    font-family: cursive;
    color: #ffffff;
    width: 100px;
    height: 100px;
    font-weight: bold;
}
table.velha-table th:hover {
    cursor: pointer;
}


.botao{
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: initial;
    color: lavender;
}

.botao:hover{
    cursor: pointer;
    background-color: inherit;
}

.l1.mostra-r{
    display: block;
}
/* Linhas horizontais de marcação de quem ganhou */
.l1{
    width: 550px;
    height: 3px;
    background: rgb(11, 221, 11);
    display: none;
    position: absolute;
    top: 110px;
    left: 390px;
    border-radius: 5px;
    z-index: 1; 

}

.l2.mostra-r{
    display: block;
}

.l2{
    width: 550px;
    height: 3px;
    background: rgb(11, 221, 11);
    display: none;
    position: absolute;
    top: 315px;
    left: 390px;
    border-radius: 5px;
    z-index: 1; 
}
.l3.mostra-r{
    display: block;
}

.l3{
    width: 550px;
    height: 3px;
    background: rgb(11, 221, 11);
    display: none;
    position: absolute;
    top: 520px;
    left: 390px;
    border-radius: 5px;
    z-index: 1; 
}
/* Linhas verticais de marcação de quem ganhou */
.c1.mostra-r{
    display: block;
}

.c1{
    width: 3px;
    height: 550px;
    background: rgb(11, 221, 11);
    display: none;
    position: absolute;
    top: 30px;
    left: 480px;
    border-radius: 5px;
    z-index: 1; 
}
.c2.mostra-r{
    display: block;
}

.c2{
    width: 3px;
    height: 550px;
    background: rgb(11, 221, 11);
    display: none;
    position: absolute;
    top: 30px;
    left: 665px;
    border-radius: 5px;
    z-index: 1; 
}
.c3.mostra-r{
    display: block;
}

.c3{
    width: 3px;
    height: 550px;
    background: rgb(11, 221, 11);
    display: none;
    position: absolute;
    top: 30px;
    left: 850px;
    border-radius: 5px;
    z-index: 1; 
}
/* colocando as diagonais */
.d1.mostra-r{
    display: block;
}

.d1{
    width: 3px;
    height: 645px;
    background: rgb(11, 221, 11);
    display: none;
    position: absolute;
    top: 0px;
    left: 665px;
    border-radius: 5px;
    z-index: 1;
    transform: rotate(138deg);
}
.d2.mostra-r{
    display: block;
}

.d2{
    width: 3px;
    height: 650px;
    background: rgb(11, 221, 11);
    display: none;
    position: absolute;
    top: -5px;
    left: 660px;
    border-radius: 5px;
    z-index: 1;
    transform: rotate(42deg);
}
/* Colocando bordas na tabela */
.linha1#e0{
    border-bottom: 3px ridge #ffffff;
}
.linha1#e1{
    border-bottom: 3px ridge #ffffff;
    border-right: 3px ridge #ffffff;
    border-left: 3px ridge #ffffff; 
    
}
.linha1#e2{
    border-bottom: 3px ridge #ffffff;
    
}

.linha2#e4{
    border-left: 3px ridge #ffffff;
    border-right: 3px ridge #ffffff; 
    
}
.linha3#e6{
    border-top: 3px ridge #ffffff;
    
}
.linha3#e7{
    border-right: 3px ridge #ffffff;
    border-top: 3px ridge #ffffff; 
    border-left: 3px ridge #ffffff; 
    
}
.linha3#e8{
    border-top: 3px ridge #ffffff;
}/* Fim da tabela */

/* @media(max-width : 420px){
    table{
        width: 430px;
        height: 504px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .l1.mostra-r{
        display: block;
    }
    
    .l1{
        width: 350px;
        height: 3px;
        background: rgb(11, 221, 11);
        display: none;
        position: absolute;
        transition-timing-function: ease;
        z-index: 1;
    }
} */
/* 
@media(min-width: 900px){
    table{
        width: 550px;
        height: 614px;
        text-align: center;
        margin: auto;
    }
    .l1.mostra-r{
        display: block;
    }
    
    .l1{
        width: 450px;
        height: 3px;
        background: rgb(11, 221, 11);
        display: none;
        position: absolute;
        transition-timing-function: ease;
        border-radius: 5px;
        z-index: 1;
    }
} */


